<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attachment.title %>
</p>
<p>
  <strong>Attachment:</strong>
  <%if @attachment.images.presence%>
  	<table class="table table-striped table-condensed">
		<thead>
			<tr>
			<th>Title</th>
			<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
		
			<% @attachment.images.each do |image| %>
			<tr>
			<td class='text-center'><%=link_to image_tag(image.photo,{class:'col-xs-12 col-md-3'} ) ,image%> <br>
			<%=link_to "#{image.photo_file_name}" , image %></td>
			<td>
			<%= link_to  edit_image_path(image,aid:image.attachment.id) , class:'btn btn-warning btn-xs' do%><i class="glyphicon glyphicon-pencil"></i><% end %> 
			<%= link_to image, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger btn-xs' do%><i class="glyphicon glyphicon-trash"></i><% end %></td>
			<% end %>
			</tr>
			
		</tbody>
		</table>
  <%end%>
</p>

<%= link_to 'New Image', new_image_path({aid:@attachment.id}) , class:'btn btn-info btn-block' %>
<br>
<%= link_to 'Edit', edit_attachment_path(@attachment) , class:'btn btn-info col-xs-offset-1 col-xs-4' %>
<%= link_to 'Back', @attachment.user , class:'btn btn-info col-xs-offset-2 col-xs-4' %>
 